<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @service_version.version %>
</p>

<p>
  <strong>Datebegin:</strong>
  <%= @service_version.dateBegin %>
</p>

<p>
  <strong>Dateend:</strong>
  <%= @service_version.dateEnd %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_version.service_id %>
</p>

<%= link_to 'Edit', edit_service_version_path(@service_version) %> |
<%= link_to 'Back', service_versions_path %>
