<h1>Listing vulnerabilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Discovered</th>
      <th>Service version</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= vulnerability.name %></td>
        <td><%= vulnerability.description %></td>
        <td><%= vulnerability.discovered %></td>
        <td><%= vulnerability.service_version_id %></td>
        <td><%= vulnerability.service_id %></td>
        <td><%= link_to 'Show', vulnerability %></td>
        <td><%= link_to 'Edit', edit_vulnerability_path(vulnerability) %></td>
        <td><%= link_to 'Destroy', vulnerability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vulnerability', new_vulnerability_path %>
